{% extends 'rooms_main.html' %} {% block content %}
<div class="password-container">
  <h2>Вхід у кімнату: {{ room.name }}</h2>
  <p>Ця кімната захищена паролем. Будь ласка, введіть його для доступу.</p>

  <form method="POST" class="card">
    {% csrf_token %}
    <input
      type="password"
      name="room_password"
      placeholder="Пароль..."
      required
    />
    <button type="submit" class="btn btn-primary">Увійти</button>
  </form>

  {% if error %}
  <p class="form-error">{{ error }}</p>
  {% endif %}

  <br />
  <a href="{% url 'rooms_home' %}">Повернутися до списку</a>
</div>
{% endblock %}
