{% extends 'main.html' %} 
{% block content %}
<h1>Тут будуть таски</h1>

<div class="task-container">
  <div>
    <form action="{% url 'create_task' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn_primary">Create task</button>
    </form>

    <br>

    <form method="GET" action="{% url 'task_page' %}" class="header__search">
      <div class="search-bar">
        <input
          name="q"
          value="{{ request.GET.q|default:'' }}"
          placeholder="Search for task..."
        />
        <button type="submit">Search</button>
      </div>

      <br>

      <label class="switch">
        <input
          type="checkbox"
          name="hide_completed"
          {% if hide_completed %}checked{% endif %}
          onchange="this.form.submit()"
        />
        <span class="slider">Hide completed task</span>
      </label>
    </form>
  </div>

  <div>
    <h2>All Tasks</h2>
    <p>{{ task_count }} uncompleted task</p>
    {% for task in tasks %} 
      {% if not task.is_completed %}
        <a href="{% url 'task' task.id %}">{{ task.name }}</a>
        <a href="{% url 'delete_task' task.id %}">Delete</a>
        <p>Опис: {{task.description}}</p>
        <p>Таска закінчена: {{task.is_completed}}</p>
        <p>Пріорітет: {{task.priority}}</p>
        <hr />
      {% endif %} 
    {% empty %}
      <p>No tasks found.</p>
    {% endfor %}
  </div>

  {% if not hide_completed %}
  <div>
    <h2>Completed Tasks</h2>
    <p>{{ c_task_count }} completed task</p>
    {% for task in tasks %} 
      {% if task.is_completed %}
        <a href="{% url 'task' task.id %}">{{ task.name }}</a>
        <a href="{% url 'delete_task' task.id %}">Delete</a>
        <p>Опис: {{task.description}}</p>
        <p>Таска закінчена: {{task.is_completed}}</p>
        <hr />
      {% endif %} 
    {% endfor %}
  </div>
  {% endif %}
</div>

<style>
  .task-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  .search-bar {
    margin-bottom: 10px;
  }
</style>

{% endblock content %}